@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}
